# dependency directories
node_modules

# generate output
dist

# dotenv environment variable files
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json